ib_edavki/schemas/Companies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="isin" type="xs:string" />
              <xs:element name="conid" minOccurs="0" type="xs:string" />
              <xs:element name="symbol" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="taxNumber" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="country" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
